<div class="row">
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li id="ar-nl1-{{__ 'nav.contact.alias:contact'}}" class="dropup">
            <a href="#/{{__ 'nav.contact.alias:contact'}}" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.contact.label:Contact Us'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li id="ar-nl2-{{__ 'nav.contact.support.alias:support'}}"><a href="#/{{__ 'nav.contact.alias:contact'}}/{{__ 'nav.support.alias:support'}}">{{__ 'footer.contact.support.label:Support'}}</a></li>
              <li id="ar-nl2-{{__ 'nav.contact.sales.alias:sales'}}"><a href="#/{{__ 'nav.contact.alias:contact'}}/{{__ 'nav.sales.alias:sales'}}">{{__ 'footer.contact.sales.label:Sales'}}</a></li>
              <li id="ar-nl2-{{__ 'nav.contact.advertising.alias:advertising'}}"><a href="#/{{__ 'nav.contact.alias:contact'}}/{{__ 'nav.advertising.alias:advertising'}}">{{__ 'footer.contact.advertising.label:Advertising'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li id="ar-nl1-{{__ 'nav.legal.alias:legal'}}" class="dropup">
            <a href="#/{{__ 'nav.legal.alias:legal'}}" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.legal.label:Legal'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li id="ar-nl2-{{__ 'nav.legal.privacy.alias:privacy'}}"><a href="#/{{__ 'nav.legal.alias:legal'}}/{{__ 'nav.privacy.alias:privacy'}}">{{__ 'footer.legal.privacy.label:Privacy'}}</a></li>
              <li id="ar-nl2-{{__ 'nav.legal.terms.alias:terms'}}"><a href="#/{{__ 'nav.legal.alias:legal'}}/{{__ 'nav.terms.alias:terms'}}">{{__ 'footer.legal.terms.label:Terms and Conditions'}}</a></li>
              <li id="ar-nl2-{{__ 'nav.legal.copyright.alias:copyright'}}"><a href="#/{{__ 'nav.legal.alias:legal'}}/{{__ 'nav.copyright.alias:copyright'}}">{{__ 'footer.legal.copyright.label:Copyright'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li id="ar-nl1-{{__ 'nav.site.alias:site'}}" class="dropup">
            <a href="#/{{__ 'nav.site.alias:site'}}" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.about.label:About Us'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li id="ar-nl2-{{__ 'nav.site.staff.alias:staff'}}"><a href="#/{{__ 'nav.site.alias:site'}}/{{__ 'nav.staff.alias:staff'}}">{{__ 'footer.about.staff.label:Staff'}}</a></li>
              <li id="ar-nl2-{{__ 'nav.site.jobs.alias:jobs'}}"><a href="#/{{__ 'nav.site.alias:site'}}/{{__ 'nav.jobs.alias:jobs'}}">{{__ 'footer.about.jobs.label:Jobs'}}</a></li>
              <li id="ar-nl2-{{__ 'nav.site.mission.alias:mission'}}"><a href="#/{{__ 'nav.site.alias:site'}}/{{__ 'nav.mission.alias:mission'}}">{{__ 'footer.about.mission.label:Mission'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3 pull-right">
        <img src="/img/social/Facebook.png"> <img src="/img/social/Twitter.png"> <img src="/img/social/Pinterest.png"> <img src="/img/social/GooglePlus.png">
    </div>
</div>
 