<div class="row">
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.contact.label:Contact Us'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.contact.support.label:Support'}}</a></li>
              <li><a href="#">{{__ 'footer.contact.sales.label:Sales'}}</a></li>
              <li><a href="#">{{__ 'footer.contact.advertising.label:Advertising'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.legal.label:Legal'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.legal.privacy.label:Privacy'}}</a></li>
              <li><a href="#">{{__ 'footer.legal.terms.label:Terms and Conditions'}}</a></li>
              <li><a href="#">{{__ 'footer.legal.copyright.label:Copyright'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.about.label:About Us'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.about.staff.label:Staff'}}</a></li>
              <li><a href="#">{{__ 'footer.about.jobs.label:Jobs'}}</a></li>
              <li><a href="#">{{__ 'footer.about.mission.label:Mission'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3 pull-right">
        <img src="/img/social/Facebook.png"> <img src="/img/social/Twitter.png"> <img src="/img/social/Pinterest.png"> <img src="/img/social/GooglePlus.png">
    </div>
</div>
 