<div class="row">
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.contact.label'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.contact.support.label'}}</a></li>
              <li><a href="#">{{__ 'footer.contact.sales.label'}}</a></li>
              <li><a href="#">{{__ 'footer.contact.advertising.label'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.legal.label'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.legal.privacy.label'}}</a></li>
              <li><a href="#">{{__ 'footer.legal.terms.label'}}</a></li>
              <li><a href="#">{{__ 'footer.legal.copyright.label'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.about.label'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.about.staff.label'}}</a></li>
              <li><a href="#">{{__ 'footer.about.jobs.label'}}</a></li>
              <li><a href="#">{{__ 'footer.about.mission.label'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3 pull-right">
        <img src="/img/social/Facebook.png"> <img src="/img/social/Twitter.png"> <img src="/img/social/Pinterest.png"> <img src="/img/social/GooglePlus.png">
    </div>
</div>
 