<div class="row">
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.contact'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.contact.support'}}</a></li>
              <li><a href="#">{{__ 'footer.contact.sales'}}</a></li>
              <li><a href="#">{{__ 'footer.contact.advertising'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.legal'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.legal.privacy'}}</a></li>
              <li><a href="#">{{__ 'footer.legal.terms'}}</a></li>
              <li><a href="#">{{__ 'footer.legal.copyright'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{__ 'footer.about'}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{__ 'footer.about.staff'}}</a></li>
              <li><a href="#">{{__ 'footer.about.jobs'}}</a></li>
              <li><a href="#">{{__ 'footer.about.mission'}}</a></li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="col-md-3">
        <img src="/img/social/Facebook.png"> <img src="/img/social/Twitter.png"> <img src="/img/social/Pinterest.png"> <img src="/img/social/GooglePlus.png">
    </div>
</div>
 